*{
    box-sizing: border-box;
    
}
body{
    font-family: tahoma ,arial;
}
:root{
    --btn-color:#f44336;
    --container-color:#f6f6f6;
    --a-color:#e91e63;
    --star-color:#009688;
}
.repo-container{
    max-width: 800px;
    margin: 20px auto;
    background-color: var(--container-color);
}
.repo-container .form{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.repo-container .form input{
    padding: 15px;
    flex-basis: 80%;
    border: none;
}
.repo-container .form input:focus{
    outline: 2px solid var(--btn-color);
}
.repo-container .form input::placeholder{
    font-size: 16px;
}
.repo-container .form button{
    padding: 15px 20px;
    background-color: var(--btn-color);
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
@media(max-width:600px){
    .repo-container .form button{
        padding: 15px 10px;
    }
}
@media(max-width:550px){
    .repo-container .form input{
        flex-basis: 70%;
    }
}
.repo-container .show{
    padding: 15px;
    background: #eee;
}
.repo-container .show .main-div{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.repo-container .show .main-div:not(:last-child){
    margin-bottom: 10px;
}
.repo-container .show .info{
    flex-basis:40%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.repo-container .show .text{
    padding: 10px;
    background: white;
    font-size: 18px;
    flex-basis: 40%;
    overflow: hidden;
    word-break: break-word;
}

.repo-container .show .info span,
.repo-container .show .info a{
    padding: 10px;
    width: 77px;
    display: inline-block;
    text-align: center;
    color: white;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.repo-container .show .info span{
    background: var(--star-color);
    margin-right: 85px;
}
.repo-container .show .info a{
    background-color: var(--a-color);
    text-decoration: none;
}